<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>오늘의 메뉴</title>

    <link rel="stylesheet" href="../static/style.css" />
  </head>
  <body id="recommand_body">
    <header id="recommand_header">
      <h1 id="recommand_title">오늘의 메뉴!</h1>

      <nav>
        <a href="#" id="menu">Home</a>
        <a href="#" id="menu">Logout</a>
        <a href="#" id="menu">내 정보 수정</a>
        <a href="#" id="menu">메뉴 추가</a>
      </nav>
    </header>
    <div id="food_menu">
      <h1>오늘의 메뉴는?!</h1>
      <label
        style="
          display: inline-block;
          width: 350px;
          background-color: #d9d9d9;
          height: 150px;
          text-align: center;
        "
      >
        <h3 style="margin-top: 60px">ex 음식이름</h3></label
      >
    </div>
  </body>
</html>
