<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>오늘의 메뉴</title>

    <link rel="stylesheet" href="../static/style.css" />
  </head>
  <body id="recommand_body">
    <header id="recommand_header">
      <div style="display: flex; align-items: center">
        <img src="../static/img/food.png" style="height: 50px" alt="" />
        <h1 id="recommand_title">오늘의 메뉴!</h1>
      </div>
      <nav>
        <a href="{{url_for('menu',username = name)}}" id="menu">Home</a>
        <a href="{{url_for('home')}}" id="menu">Logout</a>
        <a href="{{url_for('my_info',username=name)}}" id="menu"
          >내 정보 수정</a
        >
        <a href="{{url_for('add',username=name)}}" id="menu">메뉴 추가</a>
      </nav>
    </header>
    <div id="recommand_div">
      <h1>오늘의 메뉴 추천받기!</h1>
      <img id="food_fic" src="../static/img/cute_food.jpg" alt="이미지 삽입" />
      <form
        action="{{url_for('store',username = name)}}"
        method="post"
        id="recommand_form"
      >
        <div class="mb-3">
          <select
            class="form-select"
            id="foodTypeSelect"
            name="foodType"
            style="
              height: 40px;
              width: 300px;
              font-size: 25px;
              border-radius: 10px;
            "
          >
            <option value="wrong">음식 종류를 선택하세요</option>
            <option value="전체">전체</option>
            <option value="일식">일식</option>
            <option value="중식">중식</option>
            <option value="한식">한식</option>
            <option value="양식">양식</option>
          </select>
        </div>
        <button
          id="food_button"
          type="submit"
          class="btn btn-primary"
          style="
            width: 350px;
            height: 70px;
            margin-top: 30px;
            background-color: #8aaee0;
            border: none;
            font-size: 30px;
            font-weight: 500;
          "
        >
          메뉴 추천받기
        </button>
      </form>
    </div>
    <script>
      let food_button = document.getElementById("food_button");
      let food_select = document.getElementById("foodTypeSelect");
      food_button.addEventListener("click", function (event) {
        if (food_select.value == "wrong") {
          alert("음식 종류를 선택하세요");
          event.preventDefault();
        }
      });
    </script>
  </body>
</html>
